doctype html
html
  include head
  title Home Page

  body
    nav.navbar.navbar-dark.bg-dark.navbar-expand-sm
      a.navbar-brand(href='/') BK
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      div#navbar.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/about') About
      
    .container
      br
      .text-center
        h5.text-center Home Page!
      br
      .jumbotron.text-center
        h4 Blank Node Project
